<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Emanuel Dos Santos">
        <meta name="description" content="esto es un chatBot">
        <meta name="keywords" content="chatBot,inteligencia artificial,chat inteligente">
        <meta http-equiv="cache-control" content="no-cache">
        <title>Chat Bot</title>
    </head>
    <body>
    </body>
</html>